{% block doc -%}
    <!DOCTYPE html>
    <html{% block html_attribs %}{% endblock html_attribs %}>
    {%- block html %}
        <head>
        {%- block head %}
            <title>TSN AF</title>

            {%- block metas %}
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {%- endblock metas %}

            {%- block styles %}

            {%- endblock styles %}
        {%- endblock head %}
        </head>

        <body{% block body_attribs %}{% endblock body_attribs %}>
        {% block body -%}
            <div style="max-width: 1024px; margin: auto;">
                {% block content -%}

                {%- endblock content %}
            </div>
            {% block scripts %}

            {%- endblock scripts %}
        {%- endblock body %}
        </body>
    {%- endblock html %}
    </html>
{% endblock doc -%}